.PhotoGallery {
    overflow: hidden;
}

.PhotoGallery__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.PhotoGallery__item {
    list-style-type: none;
}

.PhotoGallery__figure {
    display: block;
}

.PhotoGallery__image {
    display: block;
}

.Theater {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6Q…VUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index: 2370;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Theater--closed {
    display: none;
}

.Theater__room {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background: black;
}

.Theater__information {
    background: white;
    color: black;
    width: 25%;
}

.Theater__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.Theater__body {
    display: block;
}

.Theater__stage {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.Theater__figure {
    padding: 0;
    margin: 0;
}

.Theater__image {
    max-width: 100%;
    max-height: 100vh;
    vertical-align: middle;
}

.Theater__commands {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.Theater__command > a {
    color: white;
    text-decoration: none;
}

.Theater__command--header > a {
    color: black;
}
